<div class="row">
    <div class="col-2">
        <p class="fw-bolder" style="font-size:1.5rem;">
            {{user.fname}}
        </p>
    </div>

    <div class="col auto"></div>

    <div class="col-2">
        <i class="bi bi-three-dots-vertical menu-item text-secondary settings" data-bs-toggle="modal"
            data-bs-target="#settings" style="font-size:1.5rem;font-weight:bolder;"></i>
    </div>
</div>


<div class="row m-5">
    {{#if hasContacts}}
    <div class="accordion" id="contacts">
        {{#each contacts}}
        <div class="accordion-item">
            <h2 class="accordion-header" id="{{_id}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{_id}}" aria-expanded="false" aria-controls="collapse{{_id}}">
                    {{fname}} {{lname}}
                </button>
            </h2>

            <div id="collapse{{_id}}" class="accordion-collapse collapse show" aria-labelledby="{{_id}}"
                data-bs-parent="#contacts">
                <div class="accordion-body">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <p class="fs-2 fw-bold">
                                    {{fname}} {{lname}}
                                </p>
                            </div>

                            <div class="card-body">
                                <div class="container details" style="height:190px;">
                                    <div class="row py-1">
                                        <div class="col-12">
                                            <h5 class="card-title">
                                                Emails
                                            </h5>

                                            {{#each emails}}
                                            <div id="phones" class="accordion accordion-flush">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#phone{{_id}}"
                                                            aria-expanded="false" aria-controls="phone{{_id}}">
                                                            <h5 class="card-title">
                                                                <i class="bi bi-envelope"></i>
                                                            </h5>
                                                        </button>
                                                    </h2>

                                                    <div id="phone{{_id}}" class="accordion-collapse collapse show"
                                                        daa-bs-parent="phones">
                                                        <div class="accordion-body">
                                                            <p>
                                                                {{.}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>

                                    <div class="row py-1">
                                        <div class="col-12">
                                            <h5>Phones</h5>
                                            {{#each phones}}
                                            <div id="emails" class="accordion accordion-flush">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#email{{_id}}"
                                                            aria-expanded="false" aria-controls="email{{_id}}">
                                                            <h5 class="card-title">
                                                                <i class="bi bi-phone"></i>
                                                            </h5>
                                                        </button>
                                                    </h2>

                                                    <div id="email{{_id}}" class="accordion-collapse collapse close"
                                                        daa-bs-parent="emails">
                                                        <div class="accordion-body">
                                                            <p>
                                                                {{.}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="container">
                                    <div class="row py-2">
                                        <div class="col auto">
                                            <a href="/contacts/view/contact/{{_id}}">
                                                <i class="bi bi-pencil btn-success p-2 my-1 rounded control"></i>
                                            </a>
                                        </div>

                                        <div class="col auto">
                                            <a id="delete-contact" href="#">
                                                <i id="delete-{{_id}}"
                                                    class="bi bi-trash btn-danger p-2 my-1 rounded control"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="col auto">
        <ul class="nav flex-column">
            <li class="nav-item">
                <i class="bi bi-gear menu-item text-secondary settings" data-bs-toggle="modal"
                    data-bs-target="#contactform" style="font-size:1.5rem;font-weight:bolder;"></i>
            </li>
        </ul>
    </div>
</div>
{{/if}}
<input type="hidden" id="rmtid-input" value="{{rmtId}}">
<input type="hidden" id="personal-code">