<form id="edit-contact-form" action="/user/contacts/contact/{{doc._id}}" method="POST">
    <div class="input-group py-1">
        <span class="input-group-label">
            <i class="bi bi-sort-alpha-up" style="font-size:2rem;"></i>
        </span>

        <input type="text" name="fname" value="{{doc.fname}}" class="form-control" required>
    </div>

    <div class="input-group py-1">
        <span class="input-group-label">
            <i class="bi bi-sort-alpha-down" style="font-size:2rem;"></i>
        </span>

        <input type="text" name="lname" value="{{doc.lname}}" class="form-control" required>
    </div>

    {{#each doc.emails as |key val|}}
    <div class="input-group py-1">
        <span class="input-group-label">
            <f class="bi bi-envelope" style="font-size:2rem; margin-right:5px;"></f>
        </span>

        <input type="email" name="email{{val}}" value="{{key}}" class="form-control">
    </div>
    {{/each}}

    {{#each doc.phones as |key val|}}
    <div class="input-group py-1">
        <span class="input-group-label">
            <i class="bi bi-phone" style="font-size:2rem; margin-right:5px;"></i>
        </span>

        <input type="tel" name="phone{{val}}" value="{{key}}" class="form-control">
    </div>
    {{/each}}

    <input type="hidden" name="rmtid" value="{{doc._id}}">
    <div class="form-group py-4">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>