<div id="callout-parent"></div>

{{#if hasToken}}
<input type="hidden" id="join-room-input" value="{{token}}">
<input type="hidden" id="room-name-input" value="{{roomName}}">
<input type="hidden" id="chat-type-input" value="{{chatType}}">
{{/if}}

<div class="row">

    {{#if videoChat}}
    <h2 class="col-12">
        Video Chat
    </h2>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6" id="local-part"></div>
            <div class="col-12 col-md-6" id="remote-parts"></div>
        </div>
    </div>

    <div class="col-12" id="controls"></div>
    {{else}}

    <h2 class="col-12">
        Voice Chat
    </h2>
    <div class="col-12">
        <div class="row">
            <div class="col" id="local-part"></div>
            <div class="col" id="remote-parts"></div>
        </div>
    </div>

    <div class="col-12" id="controls"></div>
    {{/if}}
</div>


<input type="hidden" id="rmtid-input" value="{{rmtId}}">
<input type="hidden" id="personal-code-input">